extends layout

block content
	div(class="container")
		div(class="row")
			div(class="col text-center")
				img(src="images/logo.png", width="256", class="mb-4")
		div(class="row")
			div(class="col-8 offset-2")
				h2(class="text-center mb-4") League Fixture
				form
					each game, i in games
						if i<weekCount*(clubs.length/2)
							if i%(clubs.length/2)==0
								h3(class="text-center mb-4") #{i/(clubs.length/2)+1}. Week
							div(class="row macBox")
								div(class="col-5")= game.club1
								div(class="col-1 text-center font-weight-bold")
									input(type='number', name='yeniSkor[#{i}].club1', value='#{game.c1gc}')
								div(class="col-1 text-center font-weight-bold")
									input(type='number', name='yeniSkor[#{i}].club2', value='#{game.c2gc}')
								div(class="col-5 text-right")= game.club2
					hr
					div(class="text-center col")
						input(type="submit", value="Back", formmethod="get", formAction="/", class='col-4')
						input(type="submit", value="Save", formmethod="post", formAction="/save", class='col-4 offset-1')
